<!DOCTYPE html>
<html>
<head>
    <title>Upload - CS Hightligter</title>
    @foreach (var css in Model.Stylesheets)
    {
        <style type="text/css">
            @Raw(css)
        </style>
    }
</head>
<body>
    <div>
        <div id="formattedCode" class="formattedCode">@Raw(Model.PreformattedHtml)</div>
    </div>
    <script type="text/javascript">
        @Raw(Model.Javascript)
    </script>
</body>
</html>
