.formattedCode {
    font-family: "Consolas", "Courier New", "Andale Mono", "Lucida Console", monospace;
    font-size: 12pt;
    line-height: 125%;
    white-space: pre;
}

.highlighted {
    background-color: yellow;
}

.comment {
    color: green;
}

.keyword {
    color: blue;
    text-decoration: none;
}

.stringLiteral {
    color: darkred;
    text-decoration: none;
}

.numericLiteral {
    color: magenta;
}

.identifier {
    color: #2B91AF;
    text-decoration: none;
}

.region {
    color: lightgray;
    text-decoration: none;
}

.localDecl {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.localRef {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.fieldDecl {
    color: mediumvioletred;
    text-decoration: none;
}

.fieldRef {
    color: mediumvioletred;
    text-decoration: none;
}

.paramDecl {
    color: black;
    text-decoration: none;
}

.paramRef {
    color: black;
    text-decoration: none;
}

.propDecl {
    color: purple;
    text-decoration: none;
}

.propRef {
    color: purple;
    text-decoration: none;
}

.methodRef {
    color: black;
    text-decoration: none;
}

.methodDecl {
    color: black;
    text-decoration: none;
}

.namedTypeRef {
    color: #2B91AF;
    text-decoration: none;
}

.namedTypeDecl {
    color: #2B91AF;
    text-decoration: none;
}

.enumMemberDecl {
    color: royalblue;
    text-decoration: none;
}

.enumMemberRef {
    color: royalblue;
    text-decoration: none;
}

.semanticError {
    color: red;
    text-decoration: underline;
}
