@{
    ViewBag.Title = "Home Page";
}
@model TestWebsite.Models.CodeModel

@if (Model != null)
{
    if (Model.ExceptionMessage != null)
    {
        <div>@Model.ExceptionMessage</div>
    }
}
else
{
    <style type="text/css">
        ul > li {
            display: block;
            padding-bottom: 10px;
        }
        #codeInput {
            width: 600px;
            height: 700px;
        }
    </style>
    using(Html.BeginForm())
    {
        <ul>
            <li>@Html.Label("code", "Type code here:")</li>
            <li>@Html.TextArea("code", new { id = "codeInput" })</li>
            <li><input type="submit" value="Submit" /></li>
        </ul>
    }
}