/*html {
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}*/

body {
    font-family: 'Segoe UI', sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 
}

.hasSymbolInfo .symbolInfo {
    display: none;
}

.hasSymbolInfo:hover {
    position: relative;
}

.hasSymbolInfo:hover .symbolInfo {
    display: block; 
    position: absolute; 
    padding: 5px;
    top: 1.5em;
    left: 0;
    z-index: 100; 
    color: #000000; 
    background: #FFFFFF; 
    text-align: left; 
    text-decoration: none;
    border: 1px solid;
}

.formattedCode {
    font-family: "Consolas", "Courier New", "Andale Mono", "Lucida Console", monospace;
    font-size: 12pt;
    line-height: 125%;
}

.highlighted {
    background-color: yellow;
}

.comment {
    color: green;
}

.disabled {
    color: gray;
}

.keyword {
    color: blue;
    text-decoration: none;
}

.stringLiteral {
    color: darkred;
    text-decoration: none;
}

.numericLiteral {
    color: magenta;
}

.characterLiteral {
    color: magenta;
}

.identifier {
    color: #2B91AF;
    text-decoration: none;
}

.region {
    color: lightgray;
    text-decoration: none;
}

.localDecl {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.localRef {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.fieldDecl {
    color: mediumvioletred;
    text-decoration: none;
}

.fieldRef {
    color: mediumvioletred;
    text-decoration: none;
}

.paramDecl {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.paramRef {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.propDecl {
    color: purple;
    text-decoration: none;
}

.propRef {
    color: purple;
    text-decoration: none;
}

.methodRef {
    color: black;
    text-decoration: none;
}

.methodDecl {
    color: black;
    text-decoration: none;
}

.namedTypeRef {
    color: #2B91AF;
    text-decoration: none;
}

.namedTypeDecl {
    color: #2B91AF;
    text-decoration: none;
}

.enumMemberDecl {
    color: royalblue;
    text-decoration: none;
}

.enumMemberRef {
    color: royalblue;
    text-decoration: none;
}

.semanticError {
    color: red;
    text-decoration: underline;
}

.solutionExplorer {
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0;
    width: 400px; 
    height: 100%;
    overflow: scroll;
}

.codePanel {
    background-color: antiquewhite;
    position: fixed;
    top: 0; 
    left: 400px;
    right: 0;
    bottom: 0;
    overflow: auto; 
}

.projectLevel {
    padding-left: 15px;
}

