<!DOCTYPE html>
@model IEnumerable<string>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Directory</title>
</head>
<body>
    <ul>
        @foreach(var p in Model)
        { 
        <li>
            <a href="@p">@p</a>
        </li>
        }
    </ul>
</body>
</html>
