<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SourcePageTemplate</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css"></>
</head>
<body>
    <div>
        <div id="formattedCode" class="formattedCode">@Html.Raw(Model.CodeElements)</div>
    </div>
</body>
</html>
