<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <iframe src="~/Directory.html" frameborder="0" name="directorylist"></iframe>
        <iframe src="~/SourceDetails.html" frameborder="0" name="sourceexplorer"></iframe>
    </div>
</body>
</html>
