<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.2.20" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="1.9.3" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.3.5" targetFramework="net45" />
  <package id="react.js" version="0.10.0" targetFramework="net45" />
</packages>